<div class="cuerpo">
    <div class="side continuacion">
        <h2>A continuación...</h2>
        <div class="canciones">
            <ng-container *ngFor="let cancion of aContinuacion; let i = index">
                <div 
                    *ngIf="cancion.posicion !== 1"
                    class="cancion"
                    [class.menu-abierto]="menuAbierto === i"
                    [class.playing]="cancion.status === 'playing'"
                    [class.dragging]="draggedSongId === cancion.id"
                    [class.drag-over]="dragOverSongId === cancion.id"
                    [attr.data-song-id]="cancion.id"
                    draggable="true"
                    (dragstart)="onDragStart($event, cancion)"
                    (dragend)="onDragEnd($event)"
                    (dragover)="onDragOver($event, cancion)"
                    (drop)="onDrop($event, cancion)"
                    (dragenter)="onDragEnter($event, cancion)"
                    (dragleave)="onDragLeave($event, cancion)">
                    
                    <button class="drag-handle" (mousedown)="$event.stopPropagation()">
                        <span class="material-symbols-outlined">drag_indicator</span>
                    </button>
                    
                    <div class="portada">
                    <img *ngIf="cancion.imagen_url" [src]="cancion.imagen_url" [alt]="cancion.titulo">
                    <i *ngIf="!cancion.imagen_url" class="fa-solid fa-music"></i>
                    </div>

                    <div class="infoCancionFila">
                    <div class="datosCancion">
                        <p class="nombre">{{ cancion.titulo }}</p>
                        <p class="artista">{{ cancion.artista }}</p>
                        <p class="posicion" *ngIf="cancion.usuario_nombre">Agregada por {{ cancion.usuario_nombre }}</p>
                    </div>
                    </div>

                    <div class="acciones">
                    <button 
                        class="mas"
                        (click)="abrirMenu(i, $event)">
                        <i class="fa-solid fa-ellipsis"></i>
                    </button>

                    <div 
                        *ngIf="menuAbierto === i" 
                        class="menu-flotante"
                        (click)="$event.stopPropagation()">
                        <button 
                        class="opcion eliminar" 
                        (click)="eliminarCancion(i)">
                        <span class="material-symbols-outlined">close</span>
                        <span>Eliminar</span>
                        </button>
                    </div>
                    </div>
                </div>
                </ng-container>
            <div *ngIf="!loading && aContinuacion.length < 2" class="no-songs">
                <i class="fa-solid fa-music"></i>
                <p>No hay canciones en la cola</p>
            </div>
        </div>
    </div>
    <div class="side historial">
        <h2>Historial</h2>
        <div class="canciones">
            <div 
                *ngFor="let cancion of historial; let i = index" 
                class="cancion cancionHistorial">
                <div class="portada">
                    <img *ngIf="cancion.imagen_url" [src]="cancion.imagen_url" [alt]="cancion.nombre">
                    <i *ngIf="!cancion.imagen_url" class="fa-solid fa-music"></i>
                </div>
                <div class="infoCancion">
                    <div class="datosCancion">
                        <p class="nombre">{{ cancion.nombre }}</p>
                        <p class="artista">{{ cancion.artista }}</p>
                        <p class="posicion" *ngIf="cancion.usuario_nombre">Agregada por <span class="nombreU">{{ cancion.usuario_nombre }}</span></p>
                    </div>
                    </div>
            </div>
            <div *ngIf="!loading && historial.length === 0" class="no-songs">
                <i class="fa-solid fa-history"></i>
                <p>No hay historial de reproducción</p>
            </div>
        </div>
    </div>
</div>