<div class="contenido">
    <img class="logoApp" src="images/logo-2.png" alt="">
    <img class="logoEstablecimiento" src="images/wings.png" alt="">
    <div class="overlay"></div>
    <div class="cuerpo">
        <div class="cont izq">
            <div class="blur cancion cuadrado">
                <img src="" alt="portada">
                <div class="infoCancion">
                    <p class="cancionNombre">Cancion</p>
                    <p class="artistaNombre">Artista</p>
                </div>
            </div>
            <div class="blur contenedorInfo">
                <div class="contenedorPequeno">
                    <div class="usuario">
                        <h2>D</h2>
                        <h2>O</h2>
                    </div>
                </div>
                <div class="contenedorPequeno">
                    <span class="material-symbols-outlined">favorite</span>
                    <h2 class="cuentaLikes">1</h2>
                </div>
                <div class="contenedorPequeno">
                    <span class="material-symbols-outlined skip">fast_forward</span>
                    <h2 class="cuentaSkip">1</h2>
                </div>
            </div>
            <div class="contenedorHoraSiguiente">
                <div class="blur hora cuadrado">
                    <div class="horas">
                        <h1>21</h1>
                        <h1>12</h1>
                    </div>
                    <div class="fecha">
                        <p>Vie 20 Oct</p>
                    </div>
                </div>
                <div class="blur siguiente cuadrado">
                    <img src="" alt="portada">
                </div>
            </div>
        </div>
        <div class="cont der blur">

        </div>
    </div>
</div>