<div class="cuerpo">
    <header>
        <img src="images/wings.png" alt="" class="logo">

        <div class="controles">
            <button (click)="previousTrack()" [disabled]="!currentTrack">
                <i class="fa-solid fa-backward"></i>
            </button>

            <div class="play">
                <button (click)="togglePlay()" [disabled]="!currentTrack">
                    <i class="fa-solid" [class.fa-play]="!isPlaying" [class.fa-pause]="isPlaying"></i>
                </button>
            </div>
            <button (click)="nextTrack()" [disabled]="!currentTrack">
                <i class="fa-solid fa-forward"></i>
            </button>
        </div>

        <div class="cancionHeader">
            <div class="portada">
                <img *ngIf="currentTrack?.imagen_url" [src]="currentTrack!.imagen_url" [alt]="currentTrack!.titulo">
                <i *ngIf="!currentTrack?.imagen_url" class="fa-solid fa-music"></i>
            </div>
            <div class="infoCancion">
                <p class="nombre">{{ currentTrack?.titulo || 'Selecciona una canción' }}</p>
                <p class="artista">{{ currentTrack?.artista || 'Para comenzar a reproducir' }}</p>
                <div class="progressContainer">
                    <!-- <span class="tiempo">{{ formatTime(currentPosition) }}</span> -->
                    <input
                        type="range"
                        class="progress-slider"
                        min="0"
                        max="100"
                        [value]="progressPercent"
                        (input)="updateProgress($event)"
                        [disabled]="!currentTrack"
                    />
                    <!-- <span class="tiempo">{{ formatTime(duration) }}</span> -->
                </div>
            </div>
        </div>

        <div class="volumen">
            <i class="fa-solid fa-volume-low"></i>
            <input
                type="range"
                min="0"
                max="100"
                [value]="value"
                (input)="updateValue($event)"
                [disabled]="!currentTrack"
                />
            <i class="fa-solid fa-volume-high"></i>
        </div>

        <div class="nav">
            <button 
                (click)="selectNavItem('music')"
                [class.seleccionado]="selectedNavItem === 'music'">
                <i class="fa-solid fa-music"></i>
            </button>

            <button 
                (click)="selectNavItem('ordenes')"
                [class.seleccionado]="selectedNavItem === 'ordenes'">
                <i class="fa-solid fa-clipboard-list"></i>
            </button>

            <button 
                (click)="selectNavItem('games')"
                [class.seleccionado]="selectedNavItem === 'games'">
                <i class="fa-solid fa-gamepad"></i>
            </button>

            <button 
                (click)="selectNavItem('settings')"
                [class.seleccionado]="selectedNavItem === 'settings'">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </header>
    <div class="contenido" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
</div>
