<div class="cuerpo">

    <div class="contenedorBuscador">
        <div class="buscador">
    <!-- vista de selector de categoria -->
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (input)="onSearchChange()">
    </div>

    <button (click)="limpiarBuscador()" [class.activo]="searchTerm">
        <span  class="material-symbols-outlined">close</span>
    </button>
    </div>

    <div class="scroll">
        <div class="parent" *ngIf="!selectedCategory && !searchTerm && !loading">
            <div class="celda" *ngFor="let genero of generosMusicales" [ngStyle]="{'background-color': genero.backgroundColor}" (click)="selectCategory(genero.nombre)"><h3 class="nombre">{{genero.nombre}}</h3></div>
        </div>
        
        <div *ngIf="loading && !selectedCategory && !searchTerm" class="loading-genres">
             <svg class="loader" viewBox="0 0 384 384" xmlns="http://www.w3.org/2000/svg">
            <circle
                class="active"
                pathLength="360"
                fill="transparent"
                stroke-width="32"
                cx="192"
                cy="192"
                r="176"
            ></circle>
            <circle
                class="track"
                pathLength="360"
                fill="transparent"
                stroke-width="32"
                cx="192"
                cy="192"
                r="176"
            ></circle>
            </svg>

            <p>Cargando géneros...</p>
        </div>
        
        <!-- vista de canciones por categoria -->
        <app-canciones-categoria *ngIf="selectedCategory" [categoryName]="selectedCategory" (backToCategories)="clearCategory()"></app-canciones-categoria>

        <!-- Nueva vista para resultados de búsqueda -->
        <app-search-results *ngIf="searchTerm && !selectedCategory" [searchTerm]="searchTerm"></app-search-results>
    </div>
</div>