$fondo: #121212;
$contenedorOscuro: #0000003e;
$colorSecundario: #2CDC6E;
$contenedor: rgba(49, 49, 49, 0.3);


//nav
$nav: rgb(34, 34, 34);
$navSeleccionado: rgba(56, 56, 56, 0.846);

$textoPrincipal: #ffffff;
$textoSecundario: #ffffffa2;

// musica
$cancion: rgb(22, 22, 22);
$portada: rgb(37, 37, 37);
$artista: #ffffff64;

$botonFlotante: #ffffff17;
$btnPrincipal: #000000;