$fondo: #121212;
$contenedorOscuro: #0000003e;
$contenedor: #ffffff23;

//nav
$nav: rgb(34, 34, 34);
$navSeleccionado: rgb(56, 56, 56);

$textoPrincipal: #ffffff;
$textoSecundario: #ffffffa2;

$btnPrincipal: #000000;