<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="time-controls">
          <div class="time-periods">
            <button *ngFor="let estatus of estatus" 
                    [class.active]="estatus.active"
                    (click)="selectEstatus(estatus)">
              {{estatus.label}}
            </button>
          </div>
        </div>
        <div class="contenedor-filtros">
            <!-- <div class="categoria">
                <h3>Sucursal</h3>
                <span class="material-symbols-outlined btn-icon">keyboard_arrow_down</span>
            </div>
            <div class="categoria">
                <h3>Estatus</h3>
                <span class="material-symbols-outlined btn-icon">keyboard_arrow_down</span>
            </div> -->
            <div class="eliminacionContenedor" *ngIf="deletionMode">
              <div class="tooltip-container">
                <button aria-describedby="cancel-tooltip" class="btnPequeño cancelar" (click)="cancelDeletion()">
                  <span class="material-symbols-outlined">close</span>  
                </button>
                <div role="tooltip" id="cancel-tooltip" class="tooltip">
                  <strong>Cancelar</strong>
                </div>
              </div>
              <div class="tooltip-container">
                <button aria-describedby="delete-tooltip" class="btnPequeño" (click)="confirmDeletion()">
                  <span class="material-symbols-outlined">delete</span>
                </button>
                <div role="tooltip" id="delete-tooltip" class="tooltip">
                  <strong>Confirmar</strong>
                </div>
              </div>
            </div>
            <button class="btn-primary" [class.botonEliminarActivo]="deletionMode" (click)="toggleDeletionMode()">
              <span class="material-symbols-outlined">remove</span>
              Eliminar
            </button>
            <button class="btn-primary" (click)="openUserSelectionModal()">
              <span class="material-symbols-outlined">add</span>
              Agregar
            </button>
            <div class="contenedor-buscador">
                <input type="text" class="buscador" placeholder="Buscar..." [(ngModel)]="searchTerm">
                <span class="material-symbols-outlined">search</span>
            </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Orden <span class="material-symbols-outlined">arrow_upward</span></th>
                <th>Mesa <span class="material-symbols-outlined">arrow_upward</span></th>
                <th>Usuario <span class="material-symbols-outlined">arrow_upward</span></th>
                <th>Estado</th>
                <th>Monto <span class="material-symbols-outlined">arrow_upward</span></th>
                <th>Tiempo de espera (min) <span class="material-symbols-outlined">arrow_upward</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of filteredOrders" 
                  [class.selected-for-deletion]="isOrderSelected(order)"
                  [class.deletion-hover]="deletionMode"
                  (click)="selectOrder(order)">
                <td>{{ order.numeroOrden }}</td>
                <td>{{ order.mesa }}</td>
                <td>{{ order.usuario }}</td>
                <td>
                  <span class="badge" [class.entregada]="order.estado === 'Entregada'">
                    {{ order.estado }}
                    <div class="tooltip-container">
                      <span aria-describedby="mark-delivered-tooltip" class="material-symbols-outlined" (click)="toggleOrderStatus(order)">
                        check
                      </span>
                      <div role="tooltip" id="mark-delivered-tooltip" class="tooltip" *ngIf="order.estado !== 'Entregada'">
                        <strong>Marcar entregada</strong>
                      </div>
                    </div>
                  </span>
                </td>
                <td>${{ order.monto }}</td>
                <td class="tiempo-espera">
                  <div class="tiempo-espera-content">
                    <span class="material-symbols-outlined btn-icon" (click)="decreaseTime(order)" [class.disabled]="order.estado === 'Entregada'">remove</span>
                    {{ order.tiempoEspera }}
                    <span class="material-symbols-outlined btn-icon" (click)="increaseTime(order)" [class.disabled]="order.estado === 'Entregada'">add</span>
                  </div>
                </td>
              </tr>
              <tr *ngIf="filteredOrders.length === 0">
                <td colspan="6" class="no-results">
                  <div class="no-results-content">
                    <span class="material-symbols-outlined">search_off</span>
                    <p>No se encontraron coincidencias</p>
                    <small>Intenta ajustar los filtros o términos de búsqueda</small>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer">
        <div class="pagination-controls">
            <span>Resultados por pagina:</span>
            <select class="form-select">
                <option selected>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
        <div class="pagination-info">
            <span>1-10 de 30</span>
            <div class="btn-group">
                <button class="btn-light">
                  <span class="material-symbols-outlined">chevron_left</span>
                </button>
                <button class="btn-light">
                  <span class="material-symbols-outlined">chevron_right</span>
                </button>
            </div>
        </div>
      </div> -->
    </div>
  </div>
  
  <div class="modal-overlay" *ngIf="isUserSelectionModalVisible">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="currentStep === 1">Agregar orden</h2>
        <h2 *ngIf="currentStep === 2">Agregar orden</h2>
        <button class="cerrarmodal" (click)="closeModal()">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Step 1: Select User -->
        <div *ngIf="currentStep === 1">
          <p class="modal-subtitle">Selecciona un usuario</p>
          <div class="user-selection-list">
            <div class="user-selection-item header">
              <span class="user-name">Usuario <span class="material-symbols-outlined">arrow_upward</span></span>
              <span class="user-mesa">Mesa <span class="material-symbols-outlined">arrow_upward</span></span>
            </div>
            <div *ngFor="let user of users" class="user-selection-item" (click)="selectUserForOrder(user)">
              <span class="user-name">{{ user.nombre }}</span>
              <span class="user-mesa">{{ user.mesa }}</span>
            </div>
          </div>
        </div>
  
        <!-- Step 2: Order Details -->
        <div *ngIf="currentStep === 2">
          <p class="modal-subtitle">Completa la orden de: <strong>{{ selectedUser?.nombre }} Mesa {{ selectedUser?.mesa }}</strong></p>
          <div class="input-group">
            <input required="" type="text" id="numeroOrden" class="input" autocomplete="off" placeholder="" [(ngModel)]="newOrder.numeroOrden">
            <label class="user-label" for="numeroOrden">Número de orden</label>
          </div>
          <div class="input-group">
            <input required="" type="number" id="total" class="input" autocomplete="off" placeholder="" [(ngModel)]="newOrder.total">
            <label class="user-label" for="total">Total $</label>
          </div>
          <div class="input-group">
            <input required="" type="number" id="tiempoEspera" class="input" autocomplete="off" placeholder="" [(ngModel)]="newOrder.tiempoEspera">
            <label class="user-label" for="tiempoEspera">Tiempo de espera aprox. (min)</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-secondary" *ngIf="currentStep === 2" (click)="goBackToUserSelection()">Volver</button>
        <button class="btn-primary" *ngIf="currentStep === 2" (click)="createOrder()">Crear</button>
      </div>
    </div>
  </div>